body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.header-bg {
  background-color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1.25rem;
  max-width: 75rem;
}

.header-menu {
  display: flex;
  gap: 1.25rem;
}
